<div class="job">
  <h2><%= mission.get("name") %></h2>
  <div>
<% if (card) { %>
    <img src="<%= card.getLandscapePictureURL() %>" />
<% } %>
  </div>
  <p><%= mission.get("description") %></p>
  <ul>
    <li><%= _tr('Energy:') %><span id="mission-energy-value"><%= player.get('energy') %></span>/<span id="mission-energy-max-value"><%= player.get('maxEnergy') %></span></li>
    <li><%= _tr('Progress:') %><span id="mission-progress-value"><%= mission.get('progress') %></span>/100</span></li>
    <li><%= _tr('Cost: %s', mission.get("energy")) %></li>
    <li><%= _tr('Reward XP: %s', mission.get("xp")) %></li>
    <li><%= _tr('Reward Coins: %(min)s - %(max)s', { min: mission.get("minCoins"), max: mission.get("maxCoins") }) %></li>
  </ul>
  <button id="mission-execute">DO JOB</button>
</div>
<nav>
  <a href="<%= _path('mission') %>"><%= _tr('Back to mission list') %></a>
</nav>
<div id="levelup-popup"></div>
<div id="mission-complete-popup"></div>
<div id="obstrcution-popup"></div>
