<div>
  <a data-action="close">CLOSE</a>
</div>
<nav>
  <h2>メイン</h2>
  <ul>
    <li><a href="<%- _path('mission/default') %>"><%- _tr('Mission') %></a></li>
    <li><a>Menu 10</a></li>
    <li><a>Menu 11</a></li>
    <li><a>Menu 12</a></li>
  </ul>
  <h2>アイテム</h2>
  <ul>
    <li><a href="<%- _path('item/default') %>"><%- _tr('Item') %></a></li>
    <li><a href="<%- _path('item/buy') %>"><%- _tr('Shop') %></a></li>
    <li><a><%- _tr('Cash') %></a></li>
    <li><a>Menu 04</a></li>
  </ul>
  <h2>強化・進化</h2>
  <ul>
    <li><a href="<%- _path('card/enhance') %>"><%- _tr('Enhance') %></a></li>
    <li><a>Menu 06</a></li>
    <li><a>Menu 07</a></li>
    <li><a>Menu 08</a></li>
  </ul>
  <h2>その他</h2>
  <ul>
    <li><a>Menu 14</a></li>
    <li><a>Menu 14</a></li>
    <li><a>Menu 15</a></li>
    <li><a>Menu 16</a></li>
  </ul>
</nav>
