<div class="home">
<ul class="character">
  <% crews.forEach(function(crew) { %>
    <li>
      <% if (crew) { %>
        <img src="<%= crew.getPortraitPictureURL() %>" />
      <% } else { %>
        仲間を追加しよう
      <% } %>
    </li>
  <% }); %>
</ul>

<nav>
  <ul>
    <li><a href="<%= _path('mission_list') %>">ミッション</a></li>
    <li><a href="<%= _path('gacha_list') %>">ガチャ</a></li>
    <li><a href="<%= _path('crew_list') %>">仲間</a></li>
    <li><a href="<%= _path('crew_merge_list') %>">合成</a></li>
  </ul>
</nav>
</div>
