<div class="home">
<ul class="character">
  <% crews.forEach(function(crew) { %>
    <li>
      <% if (crew) { %>
        <img src="<%= crew.getPortraitPictureURL() %>" />
      <% } else { %>
        仲間を追加しよう
      <% } %>
    </li>
  <% }); %>
</ul>

<nav>
  <ul class="menu">
    <li><a href="<%= _path('mission/default') %>">ミッション</a></li>
    <li><a href="<%= _path('gacha/default') %>">ガチャ</a></li>
    <li><a href="<%= _path('crew/default') %>">仲間</a></li>
    <li><a href="<%= _path('crew/merge') %>">合成</a></li>
  </ul>
</nav>
</div>
