<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Naporitan Z{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{{ ASSET_URL }}css/app.css" type="text/css" />
{% block stylesheet %}
{% endblock %}
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="container">
      <div class="menu-tab" id="menu-tab-header"></div>
{% block content %}
{% endblock %}
      <div class="menu-tab" id="menu-tab-footer"></div>
      <div id="loading-indicator">
        <div>
          <img src="{{ ASSET_URL }}images/indicator.gif" />
        </div>
      </div>
      <div id="modal-overlay"></div>
      <div id="menu"></div>
    </div><!-- end container -->
    <script type="text/javascript" src="{{ ASSET_URL }}js/jsdeferred.js"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}js/backbone-min.js"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}js/dist/app.setup.js"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}js/dist/app.templates.js"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}js/dist/app.{{ module }}.js"></script>
{% block javascript %}
{% endblock %}
<script>
{% autoescape false %}
App.boot("{{ module|escape('js') }}", {{ BOOTSTRAP_DATA }});
{% endautoescape %}
</script>
  </body>
</html>
