<a>
  <div><img src="<%= element.getSquarePictureURL() %>" /></div>
  <div>
    <div><span><%= element.get("category") %></span> <%= element.get("name") %></div>
    <div><span>Lv</span><%= element.get("level") %> 必要統率力 <%= element.get("cost") %></div>
    <div><span>AT</span><%= element.get("attack") %> <span>DF</span><%= element.get("defense") %></div>
  </div>
  <div>
    <label>売却<input type="checkbox" id="element_<%= element.get('id') %>" name="element_<%= element.get('id') %>" /></label>
  </div>
</a>
