<h2><%= _tr("Merge") %></h2>
<h3><%= _tr("ベースとなる仲間") %></h3>
<table>
  <tr>
    <td><img src="<%= base.getSquarePictureURL() %>" /></td>
    <td>
      <div><span><%= base.get("category") %></span><%= base.get("name") %></div>
      <div><span>Lv</span><%= base.get("level") %> 必要統率力 <%= base.get("cost") %></div>
      <div><span>AT</span><%= base.get("attack") %><span>DF</span><%= base.get("defense") %></div>
    </td>
    <td>
      <a href="<%= _path('card/merge_select') %>"><%= _tr("変更する") %></a>
    </td>
  </tr>
</table>

<h3><%= _tr("力を与える仲間") %></h3>
<div id="card-tab"></div>
<div id="sort-placeholder"></div>
<ul id="card-list"></ul>

<nav id="card-sub-menu"></nav>
