<h2>強化する仲間を選択</h2>
<table>
  <% crews.forEach(function(crew) { %>
  <tr>
    <td><img src="<%= crew.getSquarePictureURL() %>" /></td>
    <td>
      <div><span>近</span> <%= crew.get("name") %></div>
      <div><span>Lv</span><%= crew.get("level") %> 必要統率力 <%= crew.get("cost") %></div>
      <div><span>AT</span><%= crew.get("attack") %> <span>DF</span><%= crew.get("defence") %></div>
    </td>
    <td>
      <a href="<%= _path('crew_merge_select_done', { id: crew.get('id') }) %>">強化する</a>
    </td>
  </tr>
  <% }); %>
</table>

<nav>
  <ul>
    <li><a href="#!/crew/index">一覧</a></li>
    <li>合成</li>
    <li><a href="#!/crew/sell">売却</a></li>
    <li><a href="#!/home/index">マイページ</a></li>
  </ul>
</nav>
