<h2>売却</h2>
<table>
  <% crews.forEach(function(crew) { %>
  <tr>
    <td><img src="<%= crew.getSquarePictureURL() %>" /></td>
    <td>
      <div><span>近</span> <%= crew.get("name") %></div>
      <div><span>Lv</span><%= crew.get("level") %> 必要統率力 <%= crew.get("cost") %></div>
      <div><span>AT</span><%= crew.get("attack") %> <span>DF</span><%= crew.get("defence") %></div>
    </td>
    <td>
      <label>売却<input type="checkbox" id="crew_<%= crew.get('id') %>" name="crew_<%= crew.get('id') %>" /></label>
    </td>
  </tr>
  <% }); %>
</table>

<div>
  <a id="crew_sell_confirm">売却する</a>
</div>

<nav>
  <ul>
    <li><a href="<%= _path('crew_list') %>">一覧</a></li>
    <li><a href="<%= _path('crew_merge_list') %>">合成</a></li>
    <li>売却</li>
    <li><a href="<%= _path('home') %>">マイページ</a></li>
  </ul>
</nav>
