<h2><%= _tr("Card Detail") %></h2>
<h3><%= item.get("name") %></h3>
<div>
  <img src="<%= item.getLargePictureURL() %>" />
  <ul>
    <li><%= _tr("Attack") %>: <%= item.get("attack") %></li>
    <li><%= _tr("Defense") %>: <%= item.get("defence") %></li>
    <li><%= _tr("Cost") %>: <%= item.get("cost") %></li>
    <li>
      <%= _tr("SK") %><span class="<%= item.getSkillLevelStarClass() %>"><%= item.getSkillLevelStars() %></span>
    </li>
  </ul>
</div>
<nav>
  <ul>
    <li><a href="<%= _path('card/default') %>"><%= _tr("Card List") %></a></li>
  </ul>
</nav>
