<div class="job">
  <h2><%= mission.get("name") %></h2>
  <div>
<% if (card) { %>
    <img src="<%= card.getLandscapePictureURL() %>" />
<% } %>
  </div>
  <p><%= mission.get("description") %></p>
  <ul>
    <li><%= _tr('Mission:') %><span>{{ mission_progress }}/{{ max_energy }}</span></li>
    <li><%= _tr('Progress:') %><span id="mission-progress-value">{{ mission_progress }}/100</span></li>
  </ul>
  <ul>
    <li><%= _tr('Cost:', mission.get("energy")) %>{{ mission_progress }}/{{ max_energy }}></li>
    <li><%= _tr('Reward XP: %s', mission.get("xp")) %></li>
    <li><%= _tr('Reward Coins: %(min)s - %(max)s', { min: mission.get("minCoins"), max: mission.get("maxCoins") }) %></li>
  </ul>
  <button id="mission-execute">DO JOB</button>
</div>
<nav>
  <a href="<%= _path('mission') %>"><%= _tr('Back to mission list') %></a>
</nav>
<div id="levelup-popup"></div>
<div id="mission-complete-popup"></div>
