<% missions.forEach(function(mission) { %>
<div class="job">
  <a href="<%- _path('mission/execute', { id: mission.get('id') }) %>">
    <div><%- mission.get("name") %></div>
    <ul>
      <li><%- _tr('Const:') %><%- mission.get("energy") %></li>
      <li><%- _tr('Reward XP:') %><%- mission.get("xp") %></li>
      <li><%- _tr('Reward Coins:') %><%- mission.get("minCoins") %> 〜 <%- mission.get("maxCoins") %></li>
    </ul>
  </a>
</div>
<% }); %>
<nav>
  <ul>
    <li><a href="<%- _path('mission/chapter') %>"><%- _tr('To chapter list') %></a></li>
  </ul>
</nav>
