<div class="job">
  <h2><%= mission.get("name") %></h2>
  <div>
    <img src="<%= crew.getLandscapePictureURL() %>" />
  </div>
  <p><%= mission.get("description") %></p>
  <ul>
    <li>エナジー: <span>{{ mission_progress }}/{{ max_energy }}</span></li>
    <li>達成度: <span id="mission-progress-value">{{ mission_progress }}/100</span></li>
  </ul>
  <ul>
    <li>消費エナジー: <%= mission.get("energy") %></li>
    <li>獲得経験値: <%= mission.get("xp") %></li>
    <li>獲得コイン: <%= mission.get("minCoins") %> 〜 <%= mission.get("maxCoins") %></li>
  </ul>
  <button id="mission-execute">DO JOB</button>
</div>
<nav>
  <a href="<%= _path('mission') %>">ミッション一覧へ</a>
</nav>
