<h2><%= chapter.get("name") %></h2>
<% missions.forEach(function(mission) { %>
<div class="job">
  <a href="<%= _path('mission/execute', { id: mission.get('id') }) %>">
    <div><%= mission.get("name") %></div>
    <ul>
      <li>消費エナジー: <%= mission.get("energy") %></li>
      <li>獲得経験値: <%= mission.get("xp") %></li>
      <li>獲得コイン: <%= mission.get("minCoins") %> 〜 <%= mission.get("maxCoins") %></li>
    </ul>
  </a>
</div>
<% }); %>
<nav>
  <ul>
    <li><a href="<%= _path('chapter/default') %>">チャプター一覧へ</a></li>
    <li><a href="<%= _path('home/default') %>">マイページへ</a></li>
  </ul>
</nav>
