<div class="menu_tab" id="menu_tab_header"></div>
<div id="content"></div>
<div class="menu_tab" id="menu_tab_footer"></div>
<div id="loading-indicator">
  <div>
    <img src="<%= ASSET_URL %>/images/indicator.gif" />
  </div>
</div>
<div id="modal_overlay"></div>
<div id="menu_dial">
  <ul>
    <li class="menu_dial_element"><a href="#">Menu 01</a></li>
    <li class="menu_dial_element"><a href="#">Menu 02</a></li>
    <li class="menu_dial_element"><a href="#">Menu 03</a></li>
    <li class="menu_dial_element"><a href="#">Menu 04</a></li>
    <li class="menu_dial_element"><a href="#">Menu 05</a></li>
    <li class="menu_dial_element"><a href="#">Menu 06</a></li>
    <li class="menu_dial_element"><a href="#">Menu 07</a></li>
    <li class="menu_dial_element"><a href="#">Menu 08</a></li>
    <li class="menu_dial_element"><a href="#">Menu 09</a></li>
    <li class="menu_dial_element"><a href="#">Menu 10</a></li>
    <li class="menu_dial_element"><a href="#">Menu 11</a></li>
    <li class="menu_dial_element"><a href="#">Menu 12</a></li>
    <li class="menu_dial_element"><a href="#">Menu 13</a></li>
    <li class="menu_dial_element"><a href="#">Menu 14</a></li>
    <li class="menu_dial_element"><a href="#">Menu 15</a></li>
    <li class="menu_dial_element"><a href="#">Menu 16</a></li>
  </ul>
</div>
